<section class="customers">
  <div class="container customers__container">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="customers__list">
      <li class="customers__review">
        <ul class="customers__rating">
            <li> <svg class="customers__star" width="17" height="16">
        <use href="./images/icon.svg#star"></use>
      </svg>
    </li>
            <li>
                 <svg class="customers__star" width="17" height="16">
        <use href="./images/icon.svg#star"></use>
      </svg>
            </li>
            <li>
                  <svg class="customers__star" width="17" height="16">
        <use href="./images/icon.svg#star"></use>
      </svg>
            </li>
            <li>
                  <svg class="customers__star" width="17" height="16">
        <use href="./images/icon.svg#star"></use>
      </svg>
            </li>
            <li>
                  <svg class="customers__star" width="17" height="16">
        <use href="./images/icon.svg#star"></use>
      </svg>
            </li>
        </ul>

        <q class="customers__comment">The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind. No questions asked</q>
        <div class="customers__wrapper">
            <img
                class="customers__avatar"
                srcset="./images/customers/Dude1-48@1x.webp 1x, ./images/customers/Dude1-96@2x.webp 2x"
                src="./images/customers/Dude1-48@1x.webp"
                alt="avatar"
                width="48"
                height="48"
              />
              <div>
                 <h3 class="customers__name">Sumith Shah</h3>
          <p class="customers__descr">Some Dude</p>
              </div>
         
        </div>
      </li>
      <li class="customers__review">
         <ul class="customers__rating">
            <li> <svg class="customers__star" width="17" height="16">
        <use href="./images/icon.svg#star"></use>
      </svg>
    </li>
            <li>
                 <svg class="customers__star" width="17" height="16">
        <use href="./images/icon.svg#star"></use>
      </svg>
            </li>
            <li>
                  <svg class="customers__star" width="17" height="16">
        <use href="./images/icon.svg#star"></use>
      </svg>
            </li>
            <li>
                  <svg class="customers__star" width="17" height="16">
        <use href="./images/icon.svg#star"></use>
      </svg>
            </li>
            <li>
                  <svg class="customers__star" width="17" height="16">
        <use href="./images/icon.svg#star"></use>
      </svg>
            </li>
        </ul>
        <q class="customers__comment">The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app</q>
        <div class="customers__wrapper">
            <img
                class="customers__avatar"
                srcset="./images/customers/Dude2-48@1x.webp 1x, ./images/customers/Dude2-96@2x.webp 2x"
                src="./images/customers/Dude2-48@1x.webp"
                alt="avatar"
                width="48"
                height="48"
              />
              <div>
                      <h3 class="customers__name">Sumith Shah</h3>
          <p class="customers__descr">Some Dude</p>
              </div>
    
        </div>
      </li>
    </ul>
  </div>
</div>    
</section>