<section class="favorites" id="favorites">
  <div class="container favorites__container">
    <div class="favorites__description">
      <h2 class="favorites__title">Some of Our Favorites</h2>
      <p class="favorites__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <ul class="favorites__list">
      <li class="favorites__photo">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="./images/favorites/gamburger-desk-315@1x.webp 1x, ./images/favorites/gamburger-desk-630@2x.webp 2x"
            type="image/webp"
            width="315"
            height="315"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="./images/favorites/gamburger-tabl-268@1x.webp 1x, ./images/favorites/gamburger-desk-630@2x.webp 2x"
            type="image/webp"
            width="268"
            height="268"
          />
          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="./images/favorites/gamburger-mob-224@1x.webp 1x, ./images/favorites/gamburger-mob-448@2x.webp 2x"
            type="image/webp"
            width="224"
            height="224"
          />
          <!-- fallback -->
          <img src="./images/favorites/gamburger-mob-224@1x.webp" width="224" height="224" alt="Gamburger" />
        </picture>
      </li>
      <li class="favorites__photo">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="./images/favorites/pasta-desk-315@1x.webp 1x, ./images/favorites/pasta-desk-630@2x.webp 2x"
            type="image/webp"
            width="315"
            height="315"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="./images/favorites/pasta-tabl-268@1x.webp 1x, ./images/favorites/pasta-tabl-536@2x.webp 2x"
            type="image/webp"
            width="268"
            height="268"
          />
          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="./images/favorites/pasta-mob-224@1x.webp 1x, ./images/favorites/pasta-mob-448@2x.webp 2x"
            type="image/webp"
            width="224"
            height="224"
          />
          <!-- fallback -->
          <img src="./images/favorites/pasta-mob-224@1x.webp" width="224" height="224" alt="Pasta" />
        </picture>
      </li>
      <li class="favorites__photo">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="./images/favorites/pizza-desk-315@1x.webp 1x, ./images/favorites/pizza-desk-630@2x.webp 2x"
            type="image/webp"
            width="315"
            height="315"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="./images/favorites/pizza-tabl-268@1x.webp 1x, ./images/favorites/pizza-tabl-536@2x.webp 2x"
            type="image/webp"
            width="268"
            height="268"
          />
          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="./images/favorites/pizza-mob-224@1x.webp 1x, ./images/favorites/pizza-mob-448@2x.webp 2x"
            type="image/webp"
            width="224"
            height="224"
          />
          <!-- fallback -->
          <img src="./images/favorites/pizza-mob-224@1x.webp" width="224" height="224" alt="Pizza" />
        </picture>
      </li>
      <li class="favorites__photo">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="./images/favorites/chicken-desk-315@1x.webp 1x, ./images/favorites/chicken-desk-630@2x.webp 2x"
            type="image/webp"
            width="315"
            height="315"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="./images/favorites/chicken-tabl-268@1x.webp 1x, ./images/favorites/chicken-tabl-536@2x.webp 2x"
            type="image/webp"
            width="268"
            height="268"
          />
          <!-- fallback -->
          <img src="./images/favorites/chicken-tabl-268@1x.webp" width="268" height="268" alt="Chicken" />
        </picture>
      </li>
      <li class="favorites__photo">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="./images/favorites/salad-desk-315@1x.webp 1x, ./images/favorites/salad-desk-630@2x.webp 2x"
            type="image/webp"
            width="315"
            height="315"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="./images/favorites/salad-tabl-268@1x.webp 1x, ./images/favorites/salad-tabl-536@2x.webp 2x"
            type="image/webp"
            width="268"
            height="268"
          />
          <!-- fallback -->
          <img src="./images/favorites/salad-tabl-268@1x.webp" width="268" height="268" alt="Salad" />
        </picture>
      </li>
      <li class="favorites__photo">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="./images/favorites/borshch-desk-315@1x.webp 1x, ./images/favorites/borshch-desk-630@2x.webp 2x"
            type="image/webp"
            width="315"
            height="315"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="./images/favorites/borshch-tabl-268@1x.webp 1x, ./images/favorites/borshch-tabl-536@2x.webp 2x"
            type="image/webp"
            width="268"
            height="268"
          />
          <!-- fallback -->
          <img src="./images/favorites/borshch-tabl-268@1x.webp" width="268" height="268" alt="Borshch" />
        </picture>
      </li>
    </ul>
  </div>
</section>
