<footer class="footer">
  <div class="container footer__container">
    <div class="footer__content">
      <div class="footer__wrapper">
        <a href="#" class="footer__logo">
          <img class="logo" src="./images/logo.svg" alt="logo" />
        </a>
        <nav class="nav footer__nav">
          <ul class="nav__list footer__nav-list">
            <li class="nav__item">
              <a class="nav__link footer__nav-link" href="#header">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link footer__nav-link" href="#hero">About</a>
            </li>
            <li class="nav__item">
              <a class="nav__link footer__nav-link" href="#offerings">Service</a>
            </li>
            <li class="nav__item">
              <a class="nav__link footer__nav-link" href="#favorites">Menu</a>
            </li>
            <li class="nav__item">
              <a class="nav__link footer__nav-link" href="#subscribe">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer-subscription">
        <h2 class="footer-subscription__title">Subscribe</h2>
        <form class="subscription__form footer-subscription__form">
          <div class="subscription__field footer-subscription__field">
            <input
              class="subscription__input footer-subscription__input"
              type="email"
              name="email"
              id="footer-subscription-email"
              required
              placeholder="example@email.com"
            />
            <label class="subscription__label" for="footer-subscription-email">Enter your email</label>
            <span class="validation-alert">
              <svg class="validation-alert__icon" width="12" height="12">
                <use href="./images/icon.svg#alert"></use>
              </svg>
              Not a valid email address (example@email.com)
            </span>
          </div>
          <button class="footer-subscription__btn" type="submit">Subscribe</button>
        </form>
        <p class="footer-subscription__text">
          By subscribing you agree to with our
          <a class="footer-subscription__link" href="">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="privacy">
      <ul class="privacy__list list">
        <li class="privacy__item">
          <a class="privacy__link" href="">Privacy Policy</a>
        </li>
        <li class="privacy__item">
          <a class="privacy__link" href="">Terms of Service</a>
        </li>
        <li class="privacy__item">
          <a class="privacy__link" href="">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer_copyright">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
