<header class="header" id="header" data-header>
  <div class="header__container container">
    <a href="#" class="header__link" data-logo>
      <img class="logo" src="./images/logo.svg" alt="logo" />
    </a>
    <span class="header__discount">
      <span class="discount" data-discount>Your discount: <span id="disc"></span>!</span>
    </span>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#header">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#hero">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#offerings">Service</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#favorites">Menu</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#subscribe">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="dropdown">
      <button class="dropdown__btn" type="button">
        <svg width="28" height="28">
          <use href="./images/icon.svg#mob-menu-button"></use>
        </svg>
      </button>
      <ul class="dropdown__list">
        <li class="dropdown__item">
          <a class="dropdown__link" href="#">Home</a>
        </li>
        <li class="dropdown__item">
          <a class="dropdown__link" href="#hero">About</a>
        </li>
        <li class="dropdown__item">
          <a class="dropdown__link" href="#offerings">Service</a>
        </li>
        <li class="dropdown__item">
          <a class="dropdown__link" href="#favorites">Menu</a>
        </li>
        <li class="dropdown__item">
          <a class="dropdown__link" href="#subscribe">Contact</a>
        </li>
      </ul>
    </div>
    <button class="order__btn" type="button" data-modal-open>Order Now</button>
  </div>
</header>
