<div class="backdrop is-hidden" data-modal>
  <!-- MODAL-1 -->
  <div class="backdrop__modal" data-modal2>
    <button class="modal__close-btn" type="button" data-modal-close>
      <svg class="modal__btn-icon" width="50" height="50">
        <use href="./images/icon.svg#modal-close"></use>
      </svg>
    </button>
    <p class="order__title">Please, select your dish, specify the quantity and place your order - and we will deliver it as soon as possible!</p>
    <div class="order__wrapper">
      <svg class="offerings__benefits-icon" width="75" height="75">
        <use href="./images/icon.svg#order"></use>
      </svg>

      <svg class="offerings__benefits-icon icon-right" width="75" height="75">
        <use href="./images/icon.svg#delivery"></use>
      </svg>
    </div>
    <ul class="menu">
      <li class="menu__item">
        <p class="dish__name">Gamburger</p>
        <form class="order__form">
          <label class="checkbox__label">
            <span class="dish__wrapper" data-checked-dish>
              <img src="./images/modal/gamburger-tabl-268@1x.webp" width="268" height="268" alt="Gamburger" />
              <span class="dish__price">4.5€</span>
            </span>
            <span class="checkbox__wrapper">
              <input class="checkbox visually-hidden" type="checkbox" name="choise" value="agree" data-dish-is-checked />
              <span class="checkbox__custom">
                <svg class="checkbox__custom-icon" width="50" height="50">
                  <use href="./images/icon.svg#check-mark"></use>
                </svg>
              </span>
            </span>
          </label>
        </form>
        <form>
          <span class="quantity__field" data-quantity>
            <input class="quantity" type="number" name="quantity" required placeholder="" min="1" />
          </span>
        </form>
      </li>
      <li class="menu__item">
        <p class="dish__name">Salmon salad</p>
        <form class="order__form">
          <label class="checkbox__label">
            <span class="dish__wrapper" data-checked-dish1>
              <img src="./images/modal/salad-tabl-268@1x.webp" width="268" height="268" alt="Salmon salad" />
              <span class="dish__price">10€</span>
            </span>
            <span class="checkbox__wrapper">
              <input class="checkbox visually-hidden" type="checkbox" name="choise" value="agree" data-dish-is-checked1 />
              <span class="checkbox__custom">
                <svg class="checkbox__custom-icon" width="50" height="50">
                  <use href="./images/icon.svg#check-mark"></use>
                </svg>
              </span>
            </span>
          </label>
        </form>
        <form>
          <span class="quantity__field" data-quantity1>
            <input class="quantity" type="number" name="quantity" required placeholder="" min="1" />
          </span>
        </form>
      </li>
      <li class="menu__item">
        <p class="dish__name">Greek salad</p>
        <form class="order__form">
          <label class="checkbox__label">
            <span class="dish__wrapper" data-checked-dish2>
              <img src="./images/modal/greek-salad-tabl-268@1x.webp" width="268" height="268" alt="Greek salad" />
              <span class="dish__price">6€</span>
            </span>
            <span class="checkbox__wrapper">
              <input class="checkbox visually-hidden" type="checkbox" name="choise" value="agree" data-dish-is-checked2 />
              <span class="checkbox__custom">
                <svg class="checkbox__custom-icon" width="50" height="50">
                  <use href="./images/icon.svg#check-mark"></use>
                </svg>
              </span>
            </span>
          </label>
        </form>
        <form>
          <span class="quantity__field" data-quantity2>
            <input class="quantity" type="number" name="quantity" required placeholder="" min="1" />
          </span>
        </form>
      </li>
      <li class="menu__item">
        <p class="dish__name">Poached Eggs</p>
        <form class="order__form">
          <label class="checkbox__label">
            <span class="dish__wrapper" data-checked-dish3>
              <img src="./images/modal/poached-eggs-tabl-268@1x.webp" width="268" height="268" alt="Poached eggs" />
              <span class="dish__price">5.5€</span>
            </span>
            <span class="checkbox__wrapper">
              <input class="checkbox visually-hidden" type="checkbox" name="choise" value="agree" data-dish-is-checked3 />
              <span class="checkbox__custom">
                <svg class="checkbox__custom-icon" width="50" height="50">
                  <use href="./images/icon.svg#check-mark"></use>
                </svg>
              </span>
            </span>
          </label>
        </form>
        <form>
          <span class="quantity__field" data-quantity3>
            <input class="quantity" type="number" name="quantity" required placeholder="" min="1" />
          </span>
        </form>
      </li>
      <li class="menu__item">
        <p class="dish__name">Falafel</p>
        <form class="order__form">
          <label class="checkbox__label">
            <span class="dish__wrapper" data-checked-dish4>
              <img src="./images/modal/falafel-tabl-268@1x.webp" width="268" height="268" alt="Falafel" />
              <span class="dish__price">15€</span>
            </span>
            <span class="checkbox__wrapper">
              <input class="checkbox visually-hidden" type="checkbox" name="choise" value="agree" data-dish-is-checked4 />
              <span class="checkbox__custom">
                <svg class="checkbox__custom-icon" width="50" height="50">
                  <use href="./images/icon.svg#check-mark"></use>
                </svg>
              </span>
            </span>
          </label>
        </form>
        <form>
          <span class="quantity__field" data-quantity4>
            <input class="quantity" type="number" name="quantity" required placeholder="" min="1" />
          </span>
        </form>
      </li>
      <li class="menu__item">
        <p class="dish__name">Rice with chicken</p>
        <form class="order__form">
          <label class="checkbox__label">
            <span class="dish__wrapper" data-checked-dish5>
              <img src="./images/modal/chicken-tabl-268@1x.webp" width="268" height="268" alt="Chicken" />
              <span class="dish__price">6.5€</span>
            </span>
            <span class="checkbox__wrapper">
              <input class="checkbox visually-hidden" type="checkbox" name="choise" value="agree" data-dish-is-checked5 />
              <span class="checkbox__custom">
                <svg class="checkbox__custom-icon" width="50" height="50">
                  <use href="./images/icon.svg#check-mark"></use>
                </svg>
              </span>
            </span>
          </label>
        </form>
        <form>
          <span class="quantity__field" data-quantity5>
            <input class="quantity" type="number" name="quantity" required placeholder="" min="1" />
          </span>
        </form>
      </li>
      <li class="menu__item">
        <p class="dish__name">Borshch</p>
        <form class="order__form">
          <label class="checkbox__label">
            <span class="dish__wrapper" data-checked-dish6>
              <img src="./images/modal/borshch-tabl-268@1x.webp" width="268" height="268" alt="Borshch" />
              <span class="dish__price">5€</span>
            </span>
            <span class="checkbox__wrapper">
              <input class="checkbox visually-hidden" type="checkbox" name="choise" value="agree" data-dish-is-checked6 />
              <span class="checkbox__custom">
                <svg class="checkbox__custom-icon" width="50" height="50">
                  <use href="./images/icon.svg#check-mark"></use>
                </svg>
              </span>
            </span>
          </label>
        </form>
        <form>
          <span class="quantity__field" data-quantity6>
            <input class="quantity" type="number" name="quantity" required placeholder="" min="1" />
          </span>
        </form>
      </li>
      <li class="menu__item">
        <p class="dish__name">Pasta</p>
        <form class="order__form">
          <label class="checkbox__label">
            <span class="dish__wrapper" data-checked-dish7>
              <img src="./images/modal/pasta-tabl-268@1x.webp" width="268" height="268" alt="Pasta" />
              <span class="dish__price">5€</span>
            </span>
            <span class="checkbox__wrapper">
              <input class="checkbox visually-hidden" type="checkbox" name="choise" value="agree" data-dish-is-checked7 />
              <span class="checkbox__custom">
                <svg class="checkbox__custom-icon" width="50" height="50">
                  <use href="./images/icon.svg#check-mark"></use>
                </svg>
              </span>
            </span>
          </label>
        </form>
        <form>
          <span class="quantity__field" data-quantity7>
            <input class="quantity" type="number" name="quantity" required placeholder="" min="1" />
          </span>
        </form>
      </li>
      <li class="menu__item">
        <p class="dish__name">Pizza</p>
        <form class="order__form">
          <label class="checkbox__label">
            <span class="dish__wrapper" data-checked-dish8>
              <img src="./images/modal/pizza-tabl-268@1x.webp" width="268" height="268" alt="Pizza" />
              <span class="dish__price">7€</span>
            </span>
            <span class="checkbox__wrapper">
              <input class="checkbox visually-hidden" type="checkbox" name="choise" value="agree" data-dish-is-checked8 />
              <span class="checkbox__custom">
                <svg class="checkbox__custom-icon" width="50" height="50">
                  <use href="./images/icon.svg#check-mark"></use>
                </svg>
              </span>
            </span>
          </label>
        </form>
        <form>
          <span class="quantity__field" data-quantity8>
            <input class="quantity" type="number" name="quantity" required placeholder="" min="1" />
          </span>
        </form>
      </li>
    </ul>
    <button class="order__submit-btn" type="submit" disabled data-modal2-open>Submit you order</button>
  </div>
  <!-- MODAL-2 -->
  <div class="backdrop__modal2 payment delivery" data-modal-appear>
    <button class="modal__close-btn" type="button" data-modal-close2>
      <svg class="modal__btn-icon" width="50" height="50">
        <use href="./images/icon.svg#modal-close"></use>
      </svg>
    </button>
    <div class="payment__title-wrapper">
      <p class="payment__title">Choose payment method:</p>
    </div>
    <div class="payment__section">
      <form class="payment__form">
        <label class="radio__label">
          <span class="radio_wrapper">
            <input class="radio visually-hidden" type="radio" name="credit-card" value="credit card" data-payment1 />
            <span class="radio__custom">
              <svg class="radio__custom-icon" width="50" height="50">
                <use href="./images/icon.svg#check-mark"></use>
              </svg>
            </span>
            <span class="payment__method">Card</span>
          </span>
          <span>
            <img class="card" src="./images/modal/visa.webp" width="200" height="124" alt="visa card" />
            <img class="card" src="./images/modal/mc.webp" width="200" height="124" alt="master card" />
          </span>
        </label>
        <label class="radio__label">
          <span class="radio_wrapper">
            <input class="radio visually-hidden" type="radio" name="credit-card" value="credit card" data-payment2 />
            <span class="radio__custom">
              <svg class="radio__custom-icon" width="50" height="50">
                <use href="./images/icon.svg#check-mark"></use>
              </svg>
            </span>
            <span class="payment__method">Cash</span>
          </span>
          <span>
            <img class="card" src="./images/modal/cash.webp" width="200" height="255" alt="visa card" />
          </span>
        </label>
      </form>
    </div>
    <div class="delivery__title-wrapper">
      <p class="delivery__title">Your contact information:</p>
    </div>
    <ul class="delivery__section">
      <li class="delivery__item">
        <p class="delivery__information">Name</p>
        <form class="delivery__form">
          <input
            class="delivery__input"
            type="text"
            name="delivery"
            id="delivery__name"
            required
            minlength="3"
            maxlength="25"
            autocomplete="off"
            placeholder="Andy Black"
          />
          <label class="delivery__label" for="delivery__name">Your name</label>
          <span class="validation-alert">
            <svg class="validation-alert__icon" width="12" height="12">
              <use href="./images/icon.svg#alert"></use>
            </svg>
            The name must be between 3 and 25 characters
          </span>
        </form>
      </li>
      <li class="delivery__item">
        <p class="delivery__information">Phone number</p>
        <form class="delivery__form">
          <input
            class="delivery__input delivery__phone-umber"
            type="tel"
            name="delivery"
            id="delivery__Phone"
            required
            autocomplete="off"
            placeholder="+38(0_ _) _ _ _ _ _ _ _"
          />
          <label class="delivery__label" for="delivery__Phone">+38(0_ _) _ _ _ _ _ _ _</label>
          <span class="validation-alert">
            <svg class="validation-alert__icon" width="12" height="12">
              <use href="./images/icon.svg#alert"></use>
            </svg>
            This phone must be in the format 099 000 00 00
          </span>
        </form>
      </li>
      <li class="delivery__item">
        <p class="delivery__information">Email</p>
        <form class="delivery__form">
          <input
            class="delivery__input"
            type="email"
            name="delivery"
            id="delivery__email"
            required
            autocomplete="off"
            placeholder="example@gmail.com"
          />
          <label class="delivery__label" for="delivery__email">example@gmail.com</label>
          <span class="validation-alert">
            <svg class="validation-alert__icon" width="12" height="12">
              <use href="./images/icon.svg#alert"></use>
            </svg>
            Please enter a valid email address
          </span>
        </form>
      </li>
      <li class="delivery__item">
        <p class="delivery__information">Delivery address</p>
        <form class="delivery__form">
          <input
            class="delivery__input delivery__address"
            type="text"
            name="delivery"
            id="delivery__address"
            required
            minlength="7"
            autocomplete="off"
            placeholder="Ukrainian Str. 24/7"
          />
          <label class="delivery__label" for="delivery__address">Your addres</label>
          <span class="validation-alert">
            <svg class="validation-alert__icon" width="12" height="12">
              <use href="./images/icon.svg#alert"></use>
            </svg>
            Please enter a valid delivery address
          </span>
        </form>
      </li>
    </ul>
    <button class="payment__submit-btn" type="submit" disabled data-disabled-button>Submit payment</button>
  </div>
</div>
