<section class="subscription" id="subscribe">
  <div class="container subscription__container">
    <div class="subscription__wrapper">
      <h2 class="subscription__title">Subscribe To Get Special Offers</h2>
      <p class="subscription__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
      <form class="subscription__form">
        <div class="subscription__field">
          <input class="subscription__input" type="email" name="email" id="subscription-email" required placeholder="example@email.com" />
          <label class="subscription__label" for="subscription-email">Enter your email</label>
          <span class="validation-alert">
            <svg class="validation-alert__icon" width="12" height="12">
              <use href="./images/icon.svg#alert"></use>
            </svg>
            Not a valid email address (example@email.com)
          </span>
        </div>
        <button class="subscription__btn" type="submit">Subscribe</button>
      </form>
    </div>
    <div class="subscription__thumb">
      <picture>
        <!-- desktop screen -->
        <source
          media="(min-width: 1280px)"
          srcset="./images/subscription/banana-desk-546@1x.webp 1x, ./images/subscription/banana-desk-1092@2x.webp 2x"
          type="image/webp"
          width="546"
          height="266"
        />
        <!-- tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="./images/subscription/banana-tab-281@1x.webp 1x, ./images/subscription/banana-tab-562@2x.webp 2x"
          type="image/webp"
          width="281"
          height="136"
        />
        <!-- mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="./images/subscription/banana-mob-161@1x.webp 1x, ./images/subscription/banana-mob-322@2x.webp 2x"
          type="image/webp"
          width="161"
          height="78"
        />
        <!-- fallback -->
        <img src="./images/subscription/banana-desk-546@1x.webp" width="546" height="266" alt="Banana" />
      </picture>
    </div>
  </div>
</section>
