.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;

  background-color: $color-background;
  box-shadow: $shadow-header;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__discount {
  position: relative;
  width: 180px;
  height: 30px;
  overflow: hidden;
}

.header__link {
  @extend %link;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 10;
}

.header__logo {
  width: 71px;
  height: 52px;
}

.header.transparency {
  backdrop-filter: blur(10px);
  background-color: $color-fixed-header;
  box-shadow: $shadow-fixed-header;
}
